/* First screen */

.first-screen {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box-heading {
    position: relative;
    padding: 10% 0;
    transform: translate(-70%, 0px);
    order: -1;
    margin-top: 16rem;
}

.first-screen img {
    position: relative;
}

/* Biography */

.biography {
    margin-top: 4.8rem;
    padding-top: 0;
    padding-bottom: 0;
}


.biography-box {
    flex-direction: column;
    padding: 0 2rem;
}

.about {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.about h3 {
    order: 2;
    padding-top: 7.2rem;
    z-index: 10;
}

.biography .about {
    order: -1;
}

.about .skills {
    width: 19rem;
    margin-bottom: 4.5em;
}

.biography br {
    display: none;
}

.about blockquote::before {
    content: " ";
    display: none;
}

.about h3::before {
    content: " ";
    display: inline-block;
    width: 14px;
    height: 4px;
    background: black;
    vertical-align: center;
    margin-bottom: 20px;
}

.biography h2 {
    top: 0;
    transform: rotate(0) translateX(-70%);
}

.biography-photo {
    width: 100%;
    margin-top: -24px;
}


/* Testimonials */

.testimonials {
    min-height: 76rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 15rem;
}

.testimonials .photo-box {
    display: none;
}

.testimonials-heading {
    grid-column: auto;
    order: -2;
    margin-bottom: 11rem;
    margin-right: 4rem;
    justify-self: end;
}

.testimonials-links {
    writing-mode: horizontal-tb;
    transform: rotate(0);
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 4rem;
}

.blockquote-box {
    order: -1;
    justify-content: normal;
}

.blockquote-center {
    width: 100%;

}

.blockquote-center img{
    width: 38rem;
    height: 33rem;
    object-fit: cover;
    margin-bottom: 5rem;

}
.blockquote-center blockquote {
    margin-bottom: 8rem;
}
