* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
    line-height: 1.2;
}

body {
    color: black;
    font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
    background: white;
}

main {
    max-width: 144rem;
    margin: 0 auto;
}

section {
    height: 100vh;
    min-height: 60rem;
    max-height: 120rem;

}

.invisible {
    display: none;
}

h1, h3 {
    font-family: 'Butler', 'Times', 'Times New Roman', 'Georgia', serif;
    font-size: 8.7rem;
    line-height: 1.16;
    font-weight: 300;
}

h2 {
    font-weight: 700;
    font-size: 1.8rem;
}

blockquote {
    font-family: 'Butler', 'Times', 'Times New Roman', 'Georgia', serif;
    font-size: 3.2rem;
    font-weight: 200;
}

.biography p {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.16;
    color: #636363;
}

.designers h3 {
    font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    text-transform: uppercase;

}

.designers p {
    font-size: 1.6rem;
}

.designers .bold {
    font-weight: bold;
}

.testimonials a {
    font-size: 1.6rem;
    text-decoration: none;
    color: black;
}

.testimonials span {
    font-weight: 700;
    font-size: 1.6rem;
}

.strong-points ul {
    font-family: 'Butler', 'Times', 'Times New Roman', 'Georgia', serif;
    font-size: 3.4rem;
    font-weight: 300;
}

.menu {
    display: block;
    height: 1.6rem;
    width: 3.2rem;
    margin: 5.5rem auto 0 auto;
    /*pointer-events: none;*/
    cursor: pointer;
}

.menu:focus, menu:hover {

}


nav a {
    display: none;
}



/* First screen */

.first-screen {
    position: relative;
    text-align: center;
}

.box-heading {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    font-size: 8.7rem;
    padding: 1.5em 0.8em;
    white-space: nowrap;
}

.box-heading h1 {
    font-size: 1em;
}

.box-heading h2 {
    font-size: 0.2em;
    margin-bottom: -1.7em;
    margin-top: 0.5em;
}

.first-screen-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    max-height: 100%;
    max-width: 1065px;
    object-fit: cover;
}

/* Biography */

.biography {
    max-width: 144rem;
    margin: auto;
    font-size: 8.7rem;
}

.biography::after {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: "";
}

.biography-box {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    /*padding: 0 1.5em;*/
    padding-right: 0.5em;
    padding-left: 1.5em;
    margin: auto;
    width: 100%;
}

.biography-photo, .about {
    width: 50%;
    vertical-align: middle;
    display: inline-block;
}

.biography-photo {
    /*padding-right: 5%;*/
}

.biography img {
    display: inline-block;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.about {
    font-size: 8.7rem;
    padding-left: 5%;

}

.about h3 {
    margin-bottom: 0.5em;
}


.about .skills {
    font-size: 0.2em;
    margin-bottom: 4em;
}

.about blockquote {
    font-size: 3.2rem;
    max-width: 13em;
}

.about blockquote::before {
    content: " ";
    display: block;
    width: 14px;
    height: 4px;
    background: black;
    margin-bottom: 1em;
}

.biography h2 {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotate(-90deg) translateX(50%);
}


/* Designers */

.designers {
    display: flex;
    position: relative;
    align-items: center;
}

.designers img {
    margin-bottom: 2.4rem;
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.cards {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    gap: 1.8%;
    width: 100%;
    margin-top: -130px;
    /*overflow-x: auto;*/
    /*overflow-x: scroll;*/
}

/*.cards::-webkit-scrollbar {
    width: 0;
}*/

.card-designer {
    width: 31rem;
    /*height: 44rem;*/
    /*flex-shrink: 0;*/
}

.card-designer img {
    height: 44rem;
}


.cards-big {
    width: 60rem;
    /*height: 54rem;*/
    margin-right: 6%;
    margin-left: 6%;
}

.cards-big img {
    height: 54rem;
}

.cards article:first-child {
    margin-left: 0;
}

.cards article:last-child {
    margin-right: 0;
}

.cards-big img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    margin-bottom: 2.4rem;
    object-fit: cover;
    min-width: 30rem;
}

.cards-big .description {
    padding-left: 28% ;
}

.designers h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -430px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg) translateX(-240px);
}

/* Testimonials */

.testimonials {
    min-height: 76rem;
    display: grid;
    grid-template-columns: 12% auto 50%;
    grid-template-rows: auto 84%;
}

.testimonials-heading {
    grid-column: 2/span 2;
    align-self: center;
    padding-top: 2em;
}

.testimonials-links {
    display: flex;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    align-items: flex-end;
    justify-content: space-around;
}

.testimonials-links a {
    padding-left: 5%;
}

.blockquote-box {
    display: flex;
    text-align: center;
    justify-content: center;
}

.blockquote-center {
    width: 30%;
    min-width: 21rem;
    justify-self: center;
    justify-content: center;
}

.blockquote-box blockquote {
    margin-bottom: 3rem;
}

.photo-box img {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
}

/* Strong points */

/*float*/

.strong-points {
    position: relative;
}

.strong-points-box {
    display: block;
    width: 1651px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    overflow-x: auto;
}

.strong-points-item {
    float: left;
    margin-right: 28px;
    display: block;
    margin-top: 150px;
}

.strong-points-item, .strong-points-item img {
    width: 35rem;
}

.strong-points-item img {
    height: 52.5rem;
    object-fit: contain;
}

.item-big {
    margin-top: 0;
}

.strong-points-box::-webkit-scrollbar {
    width: 0;
}

.strong-points::-webkit-scrollbar {
    width: 0;
}

.strong-points h2 {
    position: absolute;
    top: 50%;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    margin-top: -340px;
    left: 470px;
    z-index: 10;
}

.list {
    list-style-type: none;
    padding-left: 7rem ;
}

.item-big {
    margin-left: 67px;
    margin-right: 67px;
    width: 410px;
}

.strong-points-box .strong-points-item:first-child {
    margin-left: 0;
}

.strong-points-box .strong-points-item:last-child {
    margin-right: 0;
}

.strong-points h3 {
    margin-bottom: 60px;
}

.strong-points-box::after {
    clear: both;
    content: '';
    display: block;
}


@supports (display: flex) {

    .strong-points {
        display: flex;
        align-items: center;
        width: 100%;

    }

    .strong-points-item {
        flex-shrink: 0;
        margin-right: 0;
    }

    .strong-points-box {
        display: flex;
        position: relative;
        align-items: flex-end;
        gap: 28px;
        /*overflow-x: auto;*/
        width: 100%;
        top: auto;
        transform: translateY(0);

    }

}

@media (max-width: 768px ) {

    section {
        height: auto;
    }


    /* First screen */


    .box-heading {
        padding: 15% 10%;
    }

    .box-heading h1 {
        font-size: 7rem;
    }

    /* Biography */

    .biography {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .biography-box {
        display: flex;
        padding-left: 10rem;
        padding-right: 1rem;
    }

    .biography h3{
        font-size: 7.8rem;
        margin-bottom: 0;
    }

    .about .skills {
        margin-bottom: 1.5em;
    }

    .about {
        padding-left: 3%;
    }

    .biography h2 {
        right: -20px;
    }


    /* Designers */

    .designers {
        padding-top: 190px;
        padding-bottom: 150px;

    }

    .cards {
        overflow-x: auto;
    }

    .cards::-webkit-scrollbar {
        width: 0;
    }

    .card-designer {
        flex-shrink: 0;
    }

    .designers h2 {
        position: absolute;
        top: 0;
        right: 20px;
        left: auto;
        margin: 0;
        writing-mode: horizontal-tb;
        text-orientation: mixed;
        transform: rotate(0) translateX(0);
    }


    /* Testimonials */

    .testimonials {
        margin-bottom: 15rem;
    }

}